body {
  font-family: 'Courier New', Courier, monospace;
  background-color: turquoise;
  margin: 0;
  padding: 0;
}

.app {
  max-width: 900px;
  margin: auto ;
  padding: 50px;
}

h1 {
  text-align: center;
  color: black;
  font-size: 40px;
  font-style: italic;
}

.input {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 18px;
  border: 2px solid black;
  border-radius: 10px;
}

button {
  padding: 5px 15px;
  font-size: 15px;
  cursor:crosshair;
  border: 2px solid black;
  border-radius: 10px;
}

.feedback {
  color: red;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.taskList {
  padding: 0;
}

.taskItem {
  display: flex;
  align-items: center;
  gap: 20px;
  background: whitesmoke;
  padding: 5px;
  margin-bottom: 10px;
  border: 2px solid black;
  border-radius: 10px;
  flex-wrap: wrap;
}

.taskItem div {
  flex: 1;
  overflow-wrap: anywhere;
  min-width: 200px;
}

.taskItem.completed strong,
.taskItem.completed p {
  text-decoration: line-through;
  color: black;
}

.delete {
  background: rgb(237, 56, 56);
  color: white;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px 15px;
}

.delete:hover {
  background: darkred;
}

@media (max-width: 768px) {
  .app {
    padding: 20px;
    max-width: 100%;
  }
  .input {
    flex-direction: column;
  }
  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 20px;
  }
  input[type="text"] {
    font-size: 15px;
  }
  button {
    font-size: 15px;
  }
}
